src/Sokrates/sokrates.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.1 svn-revision#6ef5f7eb9a938dbc4562f25f8fa0b67cc4ff2dbb. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.1 svn-revision#6ef5f7eb9a938dbc4562f25f8fa0b67cc4ff2dbb. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wservices.sokrateslfs.siemens.at/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wservices.sokrateslfs.siemens.at/" name="DataExchangeService">
<types>
<xsd:schema>
<xsd:import namespace="http://wservices.sokrateslfs.siemens.at/" schemaLocation="https://wwwws.sokrates-bund.at/SOKBWS/ws/dataexchange?xsd=1"/>
</xsd:schema>
</types>
<message name="getPupils">
<part name="schoolID" type="xsd:string"/>
<part name="dateOfInterest" type="xsd:dateTime"/>
<part name="authentication" element="tns:UsernameToken"/>
</message>
<message name="getPupilsResponse">
<part name="return" type="tns:dataExchangePupilResponse"/>
</message>
<message name="SOAPException">
<part name="fault" element="tns:SOAPException"/>
</message>
<message name="getSBGTeacher">
<part name="schoolID" type="xsd:string"/>
<part name="dateOfInterest" type="xsd:dateTime"/>
<part name="authentication" element="tns:UsernameToken"/>
</message>
<message name="getSBGTeacherResponse">
<part name="return" type="tns:dataExchangeTeacherResponse"/>
</message>
<message name="getTeacher">
<part name="schoolID" type="xsd:string"/>
<part name="authentication" element="tns:UsernameToken"/>
</message>
<message name="getTeacherResponse">
<part name="return" type="tns:dataExchangeTeacherResponse"/>
</message>
<message name="getSbgPupils">
<part name="schoolID" type="xsd:string"/>
<part name="dateOfInterest" type="xsd:dateTime"/>
<part name="authentication" element="tns:UsernameToken"/>
</message>
<message name="getSbgPupilsResponse">
<part name="return" type="tns:dataExchangePupilResponse"/>
</message>
<message name="getPupilsWithChangedDate">
<part name="schoolID" type="xsd:string"/>
<part name="dateOfInterest" type="xsd:dateTime"/>
<part name="lastChangedAt" type="xsd:dateTime"/>
<part name="authentication" element="tns:UsernameToken"/>
</message>
<message name="getPupilsWithChangedDateResponse">
<part name="return" type="tns:dataExchangePupilResponse"/>
</message>
<message name="getTSNClasses">
<part name="schoolID" type="xsd:string"/>
<part name="schoolYear" type="xsd:int"/>
<part name="authentication" element="tns:UsernameToken"/>
</message>
<message name="getTSNClassesResponse">
<part name="return" type="tns:dataExchangeTSNClassResponse"/>
</message>
<message name="getSbgClasses">
<part name="schoolID" type="xsd:string"/>
<part name="schoolYear" type="xsd:int"/>
<part name="authentication" element="tns:UsernameToken"/>
</message>
<message name="getSbgClassesResponse">
<part name="return" type="tns:dataExchangeSBGClassResponse"/>
</message>
<message name="getTSNPupils">
<part name="schoolID" type="xsd:string"/>
<part name="schoolYear" type="xsd:int"/>
<part name="dateOfInterest" type="xsd:dateTime"/>
<part name="authentication" element="tns:UsernameToken"/>
</message>
<message name="getTSNPupilsResponse">
<part name="return" type="tns:dataExchangeTSNPupilResponse"/>
</message>
<message name="getTSNPupilsAddress">
<part name="schoolID" type="xsd:string"/>
<part name="schoolYear" type="xsd:int"/>
<part name="pupilsIDs" type="xsd:string"/>
<part name="authentication" element="tns:UsernameToken"/>
</message>
<message name="getTSNPupilsAddressResponse">
<part name="return" type="tns:dataExchangeTSNPupilAddressResponse"/>
</message>
<message name="getContactInfos">
<part name="personIDs" type="tns:listPersonID"/>
<part name="schoolID" type="xsd:string"/>
<part name="dateOfInterest" type="xsd:dateTime"/>
<part name="authentication" element="tns:UsernameToken"/>
</message>
<message name="getContactInfosResponse">
<part name="return" type="tns:dataExchangeContactInfoResponse"/>
</message>
<message name="getHTLMDData">
<part name="dataExchangeRequest" type="tns:DataexchangeRequest"/>
<part name="personIDs" type="tns:listPersonID"/>
<part name="schoolID" type="xsd:string"/>
<part name="dateOfInterest" type="xsd:dateTime"/>
<part name="authentication" element="tns:UsernameToken"/>
</message>
<message name="getHTLMDDataResponse">
<part name="return" type="tns:htlmdDataResponse"/>
</message>
<message name="getPupilCards">
<part name="dataExchangeRequest" type="tns:DataexchangeRequest"/>
<part name="schoolID" type="xsd:string"/>
<part name="dateOfInterest" type="xsd:dateTime"/>
<part name="authentication" element="tns:UsernameToken"/>
</message>
<message name="getPupilCardsResponse">
<part name="return" type="tns:dataExchangePupilCardResponse"/>
</message>
<message name="getTeacherCards">
<part name="dataExchangeRequest" type="tns:DataexchangeRequest"/>
<part name="schoolID" type="xsd:string"/>
<part name="dateOfInterest" type="xsd:dateTime"/>
<part name="authentication" element="tns:UsernameToken"/>
</message>
<message name="getTeacherCardsResponse">
<part name="return" type="tns:dataExchangeTeacherCardResponse"/>
</message>
<message name="setPersonPhoto">
<part name="dataExchangeRequest" type="tns:DataexchangeRequest"/>
<part name="lstPersonPhoto" type="tns:personPhotoList"/>
<part name="authentication" element="tns:UsernameToken"/>
</message>
<message name="setPersonPhotoResponse">
<part name="return" type="tns:dataExchangeResponse"/>
</message>
<message name="getPupils_BPKBF">
<part name="schoolID" type="xsd:string"/>
<part name="dateOfInterest" type="xsd:dateTime"/>
<part name="authentication" element="tns:UsernameToken"/>
</message>
<message name="getPupils_BPKBFResponse">
<part name="return" type="tns:dataExchangePupilBPKBFResponse"/>
</message>
<message name="getSbgSubjectsDistribution">
<part name="schoolID" type="xsd:string"/>
<part name="dateOfInterest" type="xsd:dateTime"/>
<part name="authentication" element="tns:UsernameToken"/>
</message>
<message name="getSbgSubjectsDistributionResponse">
<part name="return" type="tns:dataExchangeSbgSubjectsDistributionResponse"/>
</message>
<message name="getSbgTimetable">
<part name="schoolID" type="xsd:string"/>
<part name="startDate" type="xsd:dateTime"/>
<part name="endDate" type="xsd:dateTime"/>
<part name="authentication" element="tns:UsernameToken"/>
</message>
<message name="getSbgTimetableResponse">
<part name="return" type="tns:dataExchangeSbgTimetableResponse"/>
</message>
<portType name="DataExchange">
<operation name="getPupils" parameterOrder="authentication schoolID dateOfInterest">
<input wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getPupilsRequest" message="tns:getPupils"/>
<output wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getPupilsResponse" message="tns:getPupilsResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getPupils/Fault/SOAPException"/>
</operation>
<operation name="getSBGTeacher" parameterOrder="authentication schoolID dateOfInterest">
<input wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getSBGTeacherRequest" message="tns:getSBGTeacher"/>
<output wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getSBGTeacherResponse" message="tns:getSBGTeacherResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getSBGTeacher/Fault/SOAPException"/>
</operation>
<operation name="getTeacher" parameterOrder="authentication schoolID">
<input wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getTeacherRequest" message="tns:getTeacher"/>
<output wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getTeacherResponse" message="tns:getTeacherResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getTeacher/Fault/SOAPException"/>
</operation>
<operation name="getSbgPupils" parameterOrder="authentication schoolID dateOfInterest">
<input wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getSbgPupilsRequest" message="tns:getSbgPupils"/>
<output wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getSbgPupilsResponse" message="tns:getSbgPupilsResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getSbgPupils/Fault/SOAPException"/>
</operation>
<operation name="getPupilsWithChangedDate" parameterOrder="authentication schoolID dateOfInterest lastChangedAt">
<input wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getPupilsWithChangedDateRequest" message="tns:getPupilsWithChangedDate"/>
<output wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getPupilsWithChangedDateResponse" message="tns:getPupilsWithChangedDateResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getPupilsWithChangedDate/Fault/SOAPException"/>
</operation>
<operation name="getTSNClasses" parameterOrder="authentication schoolID schoolYear">
<input wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getTSNClassesRequest" message="tns:getTSNClasses"/>
<output wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getTSNClassesResponse" message="tns:getTSNClassesResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getTSNClasses/Fault/SOAPException"/>
</operation>
<operation name="getSbgClasses" parameterOrder="authentication schoolID schoolYear">
<input wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getSbgClassesRequest" message="tns:getSbgClasses"/>
<output wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getSbgClassesResponse" message="tns:getSbgClassesResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getSbgClasses/Fault/SOAPException"/>
</operation>
<operation name="getTSNPupils" parameterOrder="authentication schoolID schoolYear dateOfInterest">
<input wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getTSNPupilsRequest" message="tns:getTSNPupils"/>
<output wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getTSNPupilsResponse" message="tns:getTSNPupilsResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getTSNPupils/Fault/SOAPException"/>
</operation>
<operation name="getTSNPupilsAddress" parameterOrder="authentication schoolID schoolYear pupilsIDs">
<input wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getTSNPupilsAddressRequest" message="tns:getTSNPupilsAddress"/>
<output wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getTSNPupilsAddressResponse" message="tns:getTSNPupilsAddressResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getTSNPupilsAddress/Fault/SOAPException"/>
</operation>
<operation name="getContactInfos" parameterOrder="authentication personIDs schoolID dateOfInterest">
<input wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getContactInfosRequest" message="tns:getContactInfos"/>
<output wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getContactInfosResponse" message="tns:getContactInfosResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getContactInfos/Fault/SOAPException"/>
</operation>
<operation name="getHTLMDData" parameterOrder="authentication dataExchangeRequest personIDs schoolID dateOfInterest">
<input wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getHTLMDDataRequest" message="tns:getHTLMDData"/>
<output wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getHTLMDDataResponse" message="tns:getHTLMDDataResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getHTLMDData/Fault/SOAPException"/>
</operation>
<operation name="getPupilCards" parameterOrder="authentication dataExchangeRequest schoolID dateOfInterest">
<input wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getPupilCardsRequest" message="tns:getPupilCards"/>
<output wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getPupilCardsResponse" message="tns:getPupilCardsResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getPupilCards/Fault/SOAPException"/>
</operation>
<operation name="getTeacherCards" parameterOrder="authentication dataExchangeRequest schoolID dateOfInterest">
<input wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getTeacherCardsRequest" message="tns:getTeacherCards"/>
<output wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getTeacherCardsResponse" message="tns:getTeacherCardsResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getTeacherCards/Fault/SOAPException"/>
</operation>
<operation name="setPersonPhoto" parameterOrder="authentication dataExchangeRequest lstPersonPhoto">
<input wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/setPersonPhotoRequest" message="tns:setPersonPhoto"/>
<output wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/setPersonPhotoResponse" message="tns:setPersonPhotoResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/setPersonPhoto/Fault/SOAPException"/>
</operation>
<operation name="getPupils_BPKBF" parameterOrder="authentication schoolID dateOfInterest">
<input wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getPupils_BPKBFRequest" message="tns:getPupils_BPKBF"/>
<output wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getPupils_BPKBFResponse" message="tns:getPupils_BPKBFResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getPupils_BPKBF/Fault/SOAPException"/>
</operation>
<operation name="getSbgSubjectsDistribution" parameterOrder="authentication schoolID dateOfInterest">
<input wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getSbgSubjectsDistributionRequest" message="tns:getSbgSubjectsDistribution"/>
<output wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getSbgSubjectsDistributionResponse" message="tns:getSbgSubjectsDistributionResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getSbgSubjectsDistribution/Fault/SOAPException"/>
</operation>
<operation name="getSbgTimetable" parameterOrder="authentication schoolID startDate endDate">
<input wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getSbgTimetableRequest" message="tns:getSbgTimetable"/>
<output wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getSbgTimetableResponse" message="tns:getSbgTimetableResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://wservices.sokrateslfs.siemens.at/DataExchange/getSbgTimetable/Fault/SOAPException"/>
</operation>
</portType>
<binding name="DataExchangePortBinding" type="tns:DataExchange">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getPupils">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="schoolID dateOfInterest" namespace="http://wservices.sokrateslfs.siemens.at/"/>
<soap:header message="tns:getPupils" part="authentication" use="literal"/>
</input>
<output>
<soap:body use="literal" namespace="http://wservices.sokrateslfs.siemens.at/"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="getSBGTeacher">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="schoolID dateOfInterest" namespace="http://wservices.sokrateslfs.siemens.at/"/>
<soap:header message="tns:getSBGTeacher" part="authentication" use="literal"/>
</input>
<output>
<soap:body use="literal" namespace="http://wservices.sokrateslfs.siemens.at/"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="getTeacher">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="schoolID" namespace="http://wservices.sokrateslfs.siemens.at/"/>
<soap:header message="tns:getTeacher" part="authentication" use="literal"/>
</input>
<output>
<soap:body use="literal" namespace="http://wservices.sokrateslfs.siemens.at/"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="getSbgPupils">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="schoolID dateOfInterest" namespace="http://wservices.sokrateslfs.siemens.at/"/>
<soap:header message="tns:getSbgPupils" part="authentication" use="literal"/>
</input>
<output>
<soap:body use="literal" namespace="http://wservices.sokrateslfs.siemens.at/"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="getPupilsWithChangedDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="schoolID dateOfInterest lastChangedAt" namespace="http://wservices.sokrateslfs.siemens.at/"/>
<soap:header message="tns:getPupilsWithChangedDate" part="authentication" use="literal"/>
</input>
<output>
<soap:body use="literal" namespace="http://wservices.sokrateslfs.siemens.at/"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="getTSNClasses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="schoolID schoolYear" namespace="http://wservices.sokrateslfs.siemens.at/"/>
<soap:header message="tns:getTSNClasses" part="authentication" use="literal"/>
</input>
<output>
<soap:body use="literal" namespace="http://wservices.sokrateslfs.siemens.at/"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="getSbgClasses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="schoolID schoolYear" namespace="http://wservices.sokrateslfs.siemens.at/"/>
<soap:header message="tns:getSbgClasses" part="authentication" use="literal"/>
</input>
<output>
<soap:body use="literal" namespace="http://wservices.sokrateslfs.siemens.at/"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="getTSNPupils">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="schoolID schoolYear dateOfInterest" namespace="http://wservices.sokrateslfs.siemens.at/"/>
<soap:header message="tns:getTSNPupils" part="authentication" use="literal"/>
</input>
<output>
<soap:body use="literal" namespace="http://wservices.sokrateslfs.siemens.at/"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="getTSNPupilsAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="schoolID schoolYear pupilsIDs" namespace="http://wservices.sokrateslfs.siemens.at/"/>
<soap:header message="tns:getTSNPupilsAddress" part="authentication" use="literal"/>
</input>
<output>
<soap:body use="literal" namespace="http://wservices.sokrateslfs.siemens.at/"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="getContactInfos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="personIDs schoolID dateOfInterest" namespace="http://wservices.sokrateslfs.siemens.at/"/>
<soap:header message="tns:getContactInfos" part="authentication" use="literal"/>
</input>
<output>
<soap:body use="literal" namespace="http://wservices.sokrateslfs.siemens.at/"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="getHTLMDData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="dataExchangeRequest personIDs schoolID dateOfInterest" namespace="http://wservices.sokrateslfs.siemens.at/"/>
<soap:header message="tns:getHTLMDData" part="authentication" use="literal"/>
</input>
<output>
<soap:body use="literal" namespace="http://wservices.sokrateslfs.siemens.at/"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="getPupilCards">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="dataExchangeRequest schoolID dateOfInterest" namespace="http://wservices.sokrateslfs.siemens.at/"/>
<soap:header message="tns:getPupilCards" part="authentication" use="literal"/>
</input>
<output>
<soap:body use="literal" namespace="http://wservices.sokrateslfs.siemens.at/"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="getTeacherCards">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="dataExchangeRequest schoolID dateOfInterest" namespace="http://wservices.sokrateslfs.siemens.at/"/>
<soap:header message="tns:getTeacherCards" part="authentication" use="literal"/>
</input>
<output>
<soap:body use="literal" namespace="http://wservices.sokrateslfs.siemens.at/"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="setPersonPhoto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="dataExchangeRequest lstPersonPhoto" namespace="http://wservices.sokrateslfs.siemens.at/"/>
<soap:header message="tns:setPersonPhoto" part="authentication" use="literal"/>
</input>
<output>
<soap:body use="literal" namespace="http://wservices.sokrateslfs.siemens.at/"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="getPupils_BPKBF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="schoolID dateOfInterest" namespace="http://wservices.sokrateslfs.siemens.at/"/>
<soap:header message="tns:getPupils_BPKBF" part="authentication" use="literal"/>
</input>
<output>
<soap:body use="literal" namespace="http://wservices.sokrateslfs.siemens.at/"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="getSbgSubjectsDistribution">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="schoolID dateOfInterest" namespace="http://wservices.sokrateslfs.siemens.at/"/>
<soap:header message="tns:getSbgSubjectsDistribution" part="authentication" use="literal"/>
</input>
<output>
<soap:body use="literal" namespace="http://wservices.sokrateslfs.siemens.at/"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="getSbgTimetable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="schoolID startDate endDate" namespace="http://wservices.sokrateslfs.siemens.at/"/>
<soap:header message="tns:getSbgTimetable" part="authentication" use="literal"/>
</input>
<output>
<soap:body use="literal" namespace="http://wservices.sokrateslfs.siemens.at/"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
</binding>
<service name="DataExchangeService">
<port name="DataExchangePort" binding="tns:DataExchangePortBinding">
<soap:address location="https://wwwws.sokrates-bund.at/SOKBWS/ws/dataexchange"/>
</port>
</service>
</definitions>